* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'yekan';
    src: url(../fonts/yekan/Yekan.eot) format(eot);
    src: url(../fonts/yekan/Yekan.ttf) format(ttf);
    src: url(../fonts/yekan/Yekan.woff) format(woff);
    src: url(../fonts/yekan/Yekan.woff2) format(woff2);
}

@font-face {
    font-family: 'yekan-number';
    src: url(../fonts/B_Yekan/Yekan.ttf) format(ttf);
}

@font-face {
    font-family: 'vazir';
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Light.eot) format(eot);
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Bold.eot) format(eot);
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Light.ttf) format(ttf);
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Bold.ttf) format(ttf);
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Light.woff) format(woff);
    src: url(../fonts/vazir-font-v16.1.0/Vazir-Bold.woff) format(woff);
}

html {
    scroll-behavior: smooth;
    direction: rtl;
    font-size: 16px;
}

:root {
    --green-color: #1ffa93;
    --grey-color: #222222;
    --white-color: #ffffff;
}

.green-color {
    color: var(--green-color);
}

.green-background {
    background-color: var(--green-color);
}

body {
    font-family: 'yekan', 'yekan-number', sans-serif;
    position: relative;
    display: flex;
}

.container {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
}

li {
    list-style: none;
}

.bold {
    font-weight: bold;
}

/* overlay and welcome box */
body::before,
body::after {
    content: '';
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    z-index: 1000;
    background-color: #22222222;
    backdrop-filter: blur(7px);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

body::before {
    left: 0;
    right: auto;
}

body::after {
    right: 0;
    left: auto;
}

.loader {
    position: fixed;
    background-color: #000000ab;
    width: 32vw;
    height: 20vw;
    top: -70%;
    right: 35%;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s cubic-bezier(0, 0.69, 0.55, 1.62);
    -webkit-transition: all 0.5s cubic-bezier(0, 0.69, 0.55, 1.62);
    -moz-transition: all 0.5s cubic-bezier(0, 0.69, 0.55, 1.62);
    -ms-transition: all 0.5s cubic-bezier(0, 0.69, 0.55, 1.62);
    -o-transition: all 0.5s cubic-bezier(0, 0.69, 0.55, 1.62);
    transition-delay: .5s;

    svg {
        translate: 14vw 1vw;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;

        &:hover {
            cursor: pointer;
            scale: 1.5;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
        }
    }

    strong {
        font-size: 2vw;
    }

    .description {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 7vw;
            border-radius: 100vw;
        }

        span {
            color: white;
            text-align: justify;
            padding-right: 1rem;
            font-size: 1vw;
        }

        b {
            border-radius: 1rem;
            padding: 0 0.5rem;
            color: black;
        }
    }

}

body.active-loader {

    &::after,
    &::before {
        width: 50%;
    }

    div.loader {
        opacity: 1;
        visibility: visible;
        top: 15vw;
    }
}

/* reveal and active */
.reveal-top,
.reveal-right,
.reveal-left {
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.8s;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    -ms-transition: all ease 0.8s;
    -o-transition: all ease 0.8s;
}

.reveal-top {
    transform: translateY(3rem);
    -webkit-transform: translateY(3rem);
    -moz-transform: translateY(3rem);
    -ms-transform: translateY(3rem);
    -o-transform: translateY(3rem);
}

.reveal-right {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.reveal-left {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.active-top,
.active-right,
.active-left {
    opacity: 1;
    visibility: visible;
}

.active-top {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.active-right,
.active-left {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

/* ---left section--- */
header {
    position: relative;
    float: left;
    width: 60%;
    height: 200vh;
    background-color: whitesmoke;
    /* background: linear-gradient(359deg, #1ffa93, black); */
    overflow: hidden;
}

/* ---right section--- */
aside {
    float: right;
    position: relative;
    width: 40%;
    height: 200vh;
    overflow: hidden;
    box-shadow: 35px 0px 40px 30px black;
}

/* ---- background pattern ---- */
canvas {
    display: block;
    width: 105%;
    height: 50%;
}

/* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #222222;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    user-select: none;
    /* Define the standard property for compatibility */
    margin-top: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* ---content header--- */
header .title {
    margin-top: 10rem;
    position: relative;
}

header .title h1,
header .title h2 {
    background: linear-gradient(130deg, #000000 20%, #ffffff, var(--green-color) 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: all .6s ease;
    background-size: 300%;
    position: relative;
    z-index: 1;
}

header .title h1 {
    background-position: left center;
    font-size: 3vw;
    font-weight: bold;
}

header .title h2 {
    background-position: right center;
    font-size: 1.5vw;
    font-weight: 100;
}

header .title::before,
header .title::after {
    content: '';
    position: absolute;
    z-index: 0;
    transition: all .6s ease;
}

header .title::before {
    width: 60%;
    height: 4vw;
    background: linear-gradient(90deg, var(--green-color), transparent);
    left: auto;
    right: 0;
    top: 1.3vw;
    border-radius: 50px 0 0 50px;
}

header .title::after {
    width: 81%;
    height: 2vw;
    background: linear-gradient(270deg, var(--grey-color), transparent);
    left: 0;
    right: auto;
    top: 6.7vw;
    border-radius: 0 50px 50px 0;
}

header .title:hover h1 {
    background-size: 320%;
    background-position: right center;
    transition: all .7s ease;
}

header .title:hover h2 {
    background-size: 320%;
    background-position: left center;
    transition: all .7s ease;
}

header .title:hover::before {
    width: 0;
    transition: all .3s ease;
}

header .title:hover::after {
    width: 0;
    transition: all .3s ease;
}


/* -----navbar----- */
nav {
    position: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

nav ul {
    position: fixed;
    right: -9.5rem;
    background-color: #00000063;
    border-radius: 20px 0 0 20px;
    width: 11rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul:hover {
    right: -1rem;
}

nav ul li {
    width: 70%;
    margin: 1rem 0;
}

nav ul li.active {
    view-transition-name: activeNav;
    /* background-color: var(--grey-color); */
    position: relative;
}

::view-transition-group(activeNav) {
    animation-duration: 1.5s;
}

nav ul li.active::before,
nav ul li.active::after {
    --border-radius: 2rem;
    content: '';
    position: absolute;
    width: var(--border-radius);
    height: var(--border-radius);
    left: 0;
}

nav ul li.active::before {
    top: -2.13rem;
    box-shadow: -5px 5px 0px 5px var(--grey-color);
    border-radius: 0 0 0 100vw;
}

nav ul li.active::after {
    bottom: -2.3rem;
    box-shadow: -5px -5px 0px 5px var(--grey-color);
    border-radius: 100vw 0 0 0;
}

nav ul li a {
    position: relative;
    display: inline-block;
    width: 100%;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: -0.13rem;
    left: -0.5rem;
    width: 0;
    height: 2.5rem;
    background-color: var(--grey-color);
    z-index: -1;
    border-radius: 0 100vw 100vw 0;
    transition: width cubic-bezier(0.08, 0.86, 0.6, 1.47) .5s;
}

nav ul li.active a::before {
    width: 9.5rem;
}

.title-menu {
    position: fixed;
    top: -4.5rem;
    text-align: center;
    line-height: 10rem;
    width: 40%;
    display: flex;
    justify-content: center;
    z-index: 2000;
    opacity: 1;
    visibility: visible;
    transition: all cubic-bezier(0.08, 0.86, 0.6, 1.47) .5s;
    -webkit-transition: all cubic-bezier(0.08, 0.86, 0.6, 1.47) .5s;
    -moz-transition: all cubic-bezier(0.08, 0.86, 0.6, 1.47) .5s;
    -ms-transition: all cubic-bezier(0.08, 0.86, 0.6, 1.47) .5s;
    -o-transition: all cubic-bezier(0.08, 0.86, 0.6, 1.47) .5s;
}

.hide-title-menu {
    top: -9rem;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.title-menu h1 {
    color: var(--green-color);
    width: 12rem;
    height: 9rem;
    font-size: 2rem;
    background: #00000063;
    padding: 1rem 0.5rem 1rem;
    border-radius: 50%;
}

.title-menu.hide {
    top: -9rem;
}

/* ---about me--- */
.main-about-me {
    background: linear-gradient(270deg, #ffffff2e, transparent);
    width: 30vw;
    height: 14vw;
    top: 8rem;
    left: 0;
    position: absolute;
    z-index: 1;
    border-radius: 0 100vw 100vw 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        width: 10vw;
        border-radius: 100vw;
        margin: 0 2rem;
    }

    .info {
        width: 45%;
        color: white;

        li {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }

        span.title {
            font-size: 1vw;
            padding-left: 1rem;
        }

        span.answer {
            font-size: 0.8vw;
            text-align: end;
        }
    }
}

.img-about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}


/* ---halftone pattern--- */
.halftone {
    position: absolute;

    &:nth-child(5) {
        /* top: -12vw;
        left: 0vw; */
        filter: opacity(0.3);
    }

    &:nth-child(4) {
        bottom: -16rem;
        right: -16rem;
        filter: opacity(0.3);
    }

    &:nth-child(3) {
        width: 25vw;
        top: -12vw;
        left: 0vw;
        filter: opacity(0.3);
    }
}

/* ---social media session--- */
.social-media {
    position: absolute;
    width: 30vw;
    background: linear-gradient(270deg, #ffffff2e, transparent);
    border-radius: 1vw;
    height: 15vw;
    top: 30rem;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_back {
    position: absolute;
    border-radius: 10px;
    transform: rotate(90deg);
    width: 11vw;
    height: 11vw;
    background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
    z-index: -2;
    box-shadow: inset 0px 0px 180px 5px #ffffff;
    transition: opacity 1s, border-radius .3s;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 14vw;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.card {
    width: 4vw;
    height: 4vw;
    border-top-left-radius: 10px;
    background: lightgrey;
    transition: .3s ease, .15s background-color, .15s background-image ease-in-out;
    background: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card svg {
    opacity: 0;
    transition: .2s ease-in-out;
}

.card .instagram {
    fill: #cc39a4;
}

.card:nth-child(2) {
    border-radius: 0px;
}

.card:nth-child(2) .twitter {
    fill: #03A9F4;
}

.card:nth-child(3) {
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
}

.card:nth-child(3) .dribble {
    fill: #ffb5d2;
}

.card:nth-child(4) {
    border-radius: 0px;
}

.card:nth-child(4) .codepen {
    fill: black;
}

.card:nth-child(5) {
    border-radius: 0px;
}

.card:nth-child(5) .uiverse {
    position: absolute;
    margin-left: 0.2em;
    margin-top: 0.2em;
    opacity: 0;
    transition: .2s ease-in-out;
}

.card:nth-child(6) {
    border-radius: 0px;
}

.card:nth-child(6) .discord {
    fill: #8c9eff;
}

.card:nth-child(7) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0px;
}

.card:nth-child(7) .github {
    fill: black;
}

.card:nth-child(8) {
    border-radius: 0px;
}

.card:nth-child(8) .telegram {
    fill: #29b6f6;
}

.card:nth-child(9) {
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
}

.main:hover {
    width: 14vw;
    cursor: pointer;
}

.main:hover .main_back {
    opacity: 0;
    border-radius: 30px;
}

.main:hover .card {
    --hover-edge-radius: 100%;
    --hover-edge-offset: 10%;
    margin: .2em;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
}

.main:hover .card:nth-child(1) {
    border-top-left-radius: var(--hover-edge-radius);
}

.main:hover .card:nth-child(3) {
    border-top-right-radius: var(--hover-edge-radius);
}

.main:hover .card:nth-child(7) {
    border-bottom-left-radius: var(--hover-edge-radius);
}

.main:hover .card:nth-child(9) {
    border-bottom-right-radius: var(--hover-edge-radius);
}

.main:hover .card:nth-child(1) svg {
    margin-top: var(--hover-edge-offset);
    margin-left: var(--hover-edge-offset);
}

.main:hover .card:nth-child(3) svg {
    margin-top: var(--hover-edge-offset);
    margin-right: var(--hover-edge-offset);
}

.main:hover .card:nth-child(7) svg {
    margin-bottom: var(--hover-edge-offset);
    margin-left: var(--hover-edge-offset);
}

.main:hover .card:nth-child(9) svg {
    margin-bottom: var(--hover-edge-offset);
    margin-right: var(--hover-edge-offset);
}

.main:hover .card:nth-child(5) {
    border: transparent;
}

.main:hover .text {
    opacity: 0;
    z-index: -3;
}

.main:hover .card svg {
    opacity: 1;
}

.card:nth-child(1):hover {
    background-color: #cc39a4;
}

.card:nth-child(1):hover .instagram,
.card:nth-child(2):hover .twitter,
.card:nth-child(3):hover .dribble,
.card:nth-child(4):hover .codepen,
.card:nth-child(6):hover .discord,
.card:nth-child(7):hover .github,
.card:nth-child(8):hover .telegram>path:nth-of-type(1),
.card:nth-child(9) .reddit>g path {
    fill: white;
}

.card:nth-child(2):hover {
    background-color: #03A9F4;
}

.card:nth-child(3):hover {
    background-color: #ffb5d2;
}

.card:nth-child(4):hover {
    background-color: #1E1F26;
}

.card:nth-child(5):hover {
    animation: backgroundIMG .1s;
    animation-fill-mode: forwards;
}

.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop,
.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop,
.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
    stop-color: white;
}

@keyframes backgroundIMG {
    100% {
        background-image: linear-gradient(#BF66FF, #6248FF, #00DDEB);
    }
}

.card:nth-child(6):hover {
    background-color: #8c9eff;
}

.card:nth-child(7):hover {
    background-color: black;
}

.card:nth-child(8):hover {
    background-color: #29b6f6;
}

.card:nth-child(8):hover .telegram>path:nth-of-type(2),
.card:nth-child(8):hover .telegram>path:nth-of-type(3) {
    fill: #29b6f6;
}

.card:nth-child(9):hover {
    background-color: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit>g circle {
    fill: rgb(255, 69, 0);
}

.text {
    position: absolute;
    font-size: 0.7em;
    transition: .4s ease-in-out;
    color: black;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.33em;
    z-index: 3;
}